/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
  height: 55px;
  z-index: 1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom right, rgba(190, 202, 219), rgba(206, 173, 130));
  color: aliceblue;
  
}
#g-nav{
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:0;
  right: -100%;
  width:30%;
  height: 100vh;/*ナビの高さ*/
  background:#fff;
  /*動き*/
  transition: all 0.6s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  background: linear-gradient(0deg, pink, rgba(207, 191, 116, 1.0));
  position: fixed;
  z-index: 999;
  width: 30%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/*ナビゲーション*/
#g-nav ul {
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#g-nav li{
  list-style: none;
  text-align: center;
}
#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "M PLUS 1p";
}
#g-nav li input{
  margin-left: 18px;
  background: linear-gradient(to bottom right, rgb(187, 220, 245), rgb(211, 183, 82));
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "M PLUS 1p";
  border: #fff;
  font-size: 16px;
}
.openbtn{
  background-color: rgb(121, 156, 184);
  border-radius: 15%;
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #802323;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
  top:15px;
}
.openbtn span:nth-of-type(2) {
  top:23px;
}
.openbtn span:nth-of-type(3) {
  top:31px;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}







 * {
    padding: 0;
    margin: 0;
    top: 0;
  }
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
 
  footer {
    color: rgb(255, 255, 255);
    height: 30px;
    background-color: #000;
    margin: 1000px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
  }

  .S1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color:#f70808;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .S2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color:#f7ab08;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .S3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color:#28f708;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .S4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color:#0838f7;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }