
  .tweets-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    width: 200px;
    margin: 30px auto;
    text-align: center;
  }
  .tweet {
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  form {
    justify-content: center;
    
  }

  .logo-image1 {
    width: 628px;
    height: 400px;
  }

  .logo-image2 {
    width: 628px;
    height: 400px;
  }
 
  .logo-image3 {
    width: 628px;
    height: 400px;
  }

  .logo-image4 {
    width: 628px;
    height: 400px;
  }
  
  .L {
    margin-top: 75px;
    
  }
  .index_back{
    background: linear-gradient(to bottom right, rgb(25, 85, 169), rgb(228, 145, 51));
  }