// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login{
    margin-top: 100px;
    text-align: center;
}

.signup-all{
    text-align: center;
}

.login-back{
    background-image: url(haikei2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-back{
    background-image: url(haikei2.png);
    background-repeat: no-repeat;
    background-size: cover;
}